apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: deployer
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
      - services
      - configmaps
      - secrets
    verbs:
      - "*"
  - apiGroups:
      - "apps"
    resources:
      - deployments
      - replicasets
    verbs:
      - "*"
  - apiGroups:
      - "extensions"
    resources:
      - ingresses
    verbs:
      - "*"
